In [1]:
import pandas as pd

In [8]:

# [ data frame ] 

# if data enter from the user or by it self 

data = {
         " name ": [ " aqib " , " ali " , " awais " , " abdullah "] , 
         " age ": [12,23,34,45],
         " salery": [1234,2345,3456,4567]
         }

df= pd.DataFrame(data)
print(df)

        name    age    salery
0       aqib      12     1234
1        ali      23     2345
2      awais      34     3456
3   abdullah      45     4567

In [31]:
# if geting from the file (exist in the computer )

In [2]:
from pathlib import Path

In [4]:
Path.cwd()

PosixPath('/Users/twinsbrothers')

In [8]:
import os

In [10]:
os.chdir("/Users/twinsbrothers/desktop")

In [12]:
Path.cwd()

PosixPath('/Users/twinsbrothers/Desktop')

In [14]:
import pandas as pd

In [69]:
df = pd.read_csv("/Users/twinsbrothers/desktop/police.csv")
df.head(50)

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
5,2005-03-23,09:45,NaN,M,1982.0,23.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
6,2005-04-01,17:30,NaN,M,1969.0,36.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
7,2005-06-06,13:20,NaN,F,1986.0,19.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
8,2005-07-13,10:15,NaN,M,1970.0,35.0,Black,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
9,2005-07-13,15:45,NaN,M,1970.0,35.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
10,2005-07-13,16:20,NaN,M,1979.0,26.0,Asian,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
11,2005-07-13,19:00,NaN,F,1966.0,39.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
12,2005-07-14,19:55,NaN,M,1979.0,26.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
13,2005-07-18,19:30,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
14,2005-07-18,19:45,NaN,M,1969.0,36.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
15,2005-07-19,00:30,NaN,M,1982.0,23.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
16,2005-07-19,00:30,NaN,M,1982.0,23.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
17,2005-07-19,23:30,NaN,M,1979.0,26.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
18,2005-07-20,00:05,NaN,M,1955.0,50.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
19,2005-07-24,20:10,NaN,F,1958.0,47.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
20,2005-07-28,12:37,NaN,F,1979.0,26.0,Asian,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
21,2005-08-07,16:50,NaN,M,1953.0,52.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False
22,2005-08-08,02:09,NaN,M,1955.0,50.0,Black,Other Traffic Violation,Moving violation,False,NaN,Arrest Driver,True,30+ Min,False
23,2005-08-18,10:57,NaN,F,1967.0,38.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
24,2005-08-28,01:00,NaN,M,1979.0,26.0,White,Other Traffic Violation,Moving violation,True,"Incident to Arrest,Protective Frisk",Arrest Driver,True,16-30 Min,False
25,2005-09-03,16:02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False
26,2005-09-17,10:54,NaN,M,1964.0,41.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
27,2005-09-21,13:30,NaN,F,1977.0,28.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
28,2005-09-22,22:34,NaN,M,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
29,2005-09-26,01:05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False
30,2005-09-26,12:09,NaN,M,1959.0,46.0,Black,Other Traffic Violation,Moving violation,False,NaN,Citation,False,30+ Min,False
31,2005-09-28,06:20,NaN,M,1982.0,23.0,White,Speeding,Speeding,False,NaN,Arrest Driver,True,16-30 Min,False
32,2005-09-28,07:15,NaN,M,1973.0,32.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
33,2005-09-28,07:45,NaN,M,1953.0,52.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False
34,2005-09-29,23:45,NaN,M,1947.0,58.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
35,2005-09-30,00:15,NaN,M,1978.0,27.0,White,Equipment/Inspection Violation,Equipment,False,NaN,N/D,False,0-15 Min,False
36,2005-09-30,09:30,NaN,F,1986.0,19.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
37,2005-09-30,14:00,NaN,M,1962.0,43.0,Asian,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
38,2005-09-30,19:25,NaN,M,1981.0,24.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
39,2005-09-30,20:17,NaN,M,1988.0,17.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
40,2005-10-01,00:00,NaN,M,1988.0,17.0,White,Equipment/Inspection Violation,Equipment,True,Probable Cause,Arrest Driver,True,16-30 Min,True
41,2005-10-01,00:00,NaN,M,1988.0,17.0,White,Equipment/Inspection Violation,Equipment,True,Probable Cause,Citation,False,30+ Min,True
42,2005-10-01,00:50,NaN,M,1977.0,28.0,Hispanic,Other Traffic Violation,Moving violation,False,NaN,Arrest Driver,True,30+ Min,False
43,2005-10-01,01:00,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
44,2005-10-01,01:45,NaN,M,1983.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
45,2005-10-01,02:45,NaN,M,1961.0,44.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False
46,2005-10-01,08:40,NaN,M,1959.0,46.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
47,2005-10-01,09:10,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
48,2005-10-01,09:20,NaN,M,1957.0,48.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
49,2005-10-01,10:45,NaN,M,1971.0,34.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False

In [35]:
# if geting from the file (exist in the computer )

df = pd.read_csv("/Users/twinsbrothers/desktop/data.csv")
print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [59]:
# [ Exploring Data in pandas ]

# when we analize the data we have to  understand the data 

df = pd.read_csv("/Users/twinsbrothers/desktop/data.csv")
df.head(20)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0

In [41]:
df = pd.read_csv("/Users/twinsbrothers/desktop/data.csv")
print(df.tail(15))

    Duration          Date  Pulse  Maxpulse  Calories
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [47]:
# deta ki type check krny k lia 

df = pd.read_csv("/Users/twinsbrothers/desktop/police.csv")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           91741 non-null  object
 1   stop_time           91741 non-null  object
 2   county_name         0 non-null      float64
 3   driver_gender       86406 non-null  object
 4   driver_age_raw      86414 non-null  float64
 5   driver_age          86120 non-null  float64
 6   driver_race         86408 non-null  object
 7   violation_raw       86408 non-null  object
 8   violation           86408 non-null  object
 9   search_conducted    91741 non-null  bool
 10  search_type         3196 non-null   object
 11  stop_outcome        86408 non-null  object
 12  is_arrested         86408 non-null  object
 13  stop_duration       86408 non-null  object
 14  drugs_related_stop  91741 non-null  bool
dtypes: bool(2), float64(3), object(10)
memory usage: 9.3+ MB
None

In [51]:
df = pd.read_csv("/Users/twinsbrothers/desktop/police.csv")
print(df.describe())
# df.describe() provides descriptive statistics (like mean, standard deviation, min, max, etc.) for numerical columns.

       county_name  driver_age_raw    driver_age
count          0.0    86414.000000  86120.000000
mean           NaN     1970.491228     34.011333
std            NaN      110.914909     12.738564
min            NaN        0.000000     15.000000
25%            NaN     1967.000000     23.000000
50%            NaN     1980.000000     31.000000
75%            NaN     1987.000000     43.000000
max            NaN     8801.000000     99.000000

In [53]:
df = pd.read_csv("/Users/twinsbrothers/desktop/police.csv")
print(df.isnull())

       stop_date  stop_time  county_name  driver_gender  driver_age_raw  \
0          False      False         True          False           False
1          False      False         True          False           False
2          False      False         True          False           False
3          False      False         True          False           False
4          False      False         True          False           False
...          ...        ...          ...            ...             ...
91736      False      False         True          False           False
91737      False      False         True          False           False
91738      False      False         True          False           False
91739      False      False         True          False           False
91740      False      False         True          False           False

       driver_age  driver_race  violation_raw  violation  search_conducted  \
0           False        False          False      False             False
1           False        False          False      False             False
2           False        False          False      False             False
3           False        False          False      False             False
4           False        False          False      False             False
...           ...          ...            ...        ...               ...
91736       False        False          False      False             False
91737       False        False          False      False             False
91738       False        False          False      False             False
91739       False        False          False      False             False
91740       False        False          False      False             False

       search_type  stop_outcome  is_arrested  stop_duration  \
0             True         False        False          False
1             True         False        False          False
2             True         False        False          False
3             True         False        False          False
4             True         False        False          False
...            ...           ...          ...            ...
91736         True         False        False          False
91737         True         False        False          False
91738         True         False        False          False
91739         True         False        False          False
91740         True         False        False          False

       drugs_related_stop
0                   False
1                   False
2                   False
3                   False
4                   False
...                   ...
91736               False
91737               False
91738               False
91739               False
91740               False

[91741 rows x 15 columns]

In [57]:
df = pd.read_csv("/Users/twinsbrothers/desktop/police.csv")
print(df.isnull().sum())

stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5335
driver_age_raw         5327
driver_age             5621
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5333
drugs_related_stop        0
dtype: int64

In [112]:
# [ handles duplicate value ]

df = pd.read_csv("/Users/twinsbrothers/desktop/data.csv")
print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [106]:
# getting null value 

df = pd.read_csv("/Users/twinsbrothers/desktop/data.csv")
print(df.isnull().sum())

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [ ]:
# spacific colum
print(df["Maxpulse"].duplicated().sum())

8

In [114]:

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB
None

In [98]:

print(df.drop_duplicates("Maxpulse"))

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
18        45  '2020/12/18'     90       112       NaN
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
25        60  '2020/12/25'    102       126     334.5
27        60  '2020/12/27'     92       118     241.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [116]:
# working with missing data (value) 
df = pd.read_csv("/Users/twinsbrothers/desktop/data.csv")
print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [122]:
print(df.isnull().sum())

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [126]:
print(df.dropna())
# 18,22, 28 missing

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [128]:
df = pd.read_csv("/Users/twinsbrothers/desktop/data.csv")
print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [137]:
# replace data in nan value 
import numpy as np
print(df.replace(np.nan , "ahmad"))

    Duration          Date  Pulse  Maxpulse Calories
0         60  '2020/12/01'    110       130    409.1
1         60  '2020/12/02'    117       145    479.0
2         60  '2020/12/03'    103       135    340.0
3         45  '2020/12/04'    109       175    282.4
4         45  '2020/12/05'    117       148    406.0
5         60  '2020/12/06'    102       127    300.0
6         60  '2020/12/07'    110       136    374.0
7        450  '2020/12/08'    104       134    253.3
8         30  '2020/12/09'    109       133    195.1
9         60  '2020/12/10'     98       124    269.0
10        60  '2020/12/11'    103       147    329.3
11        60  '2020/12/12'    100       120    250.7
12        60  '2020/12/12'    100       120    250.7
13        60  '2020/12/13'    106       128    345.3
14        60  '2020/12/14'    104       132    379.3
15        60  '2020/12/15'     98       123    275.0
16        60  '2020/12/16'     98       120    215.2
17        60  '2020/12/17'    100       120    300.0
18        45  '2020/12/18'     90       112    ahmad
19        60  '2020/12/19'    103       123    323.0
20        45  '2020/12/20'     97       125    243.0
21        60  '2020/12/21'    108       131    364.2
22        45         ahmad    100       119    282.0
23        60  '2020/12/23'    130       101    300.0
24        45  '2020/12/24'    105       132    246.0
25        60  '2020/12/25'    102       126    334.5
26        60      20201226    100       120    250.0
27        60  '2020/12/27'     92       118    241.0
28        60  '2020/12/28'    103       132    ahmad
29        60  '2020/12/29'    100       132    280.0
30        60  '2020/12/30'    102       129    380.3
31        60  '2020/12/31'     92       115    243.0

In [160]:
# aghr specific colum m data ko add krna ha 
df["Calories"] = df["Calories"].replace(np.nan,000.0)
print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       0.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       0.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [158]:
# mean function use average 
print(df["Calories"].mean())

285.6375

In [176]:
df["Calories"] = df["Calories"].replace(np.nan,285.6)
print(df["Calories"].mean())
print(df)

303.48749999999995
    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     285.6
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132     285.6
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [168]:
df = pd.read_csv("/Users/twinsbrothers/desktop/data.csv")
print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [170]:
print(df.fillna(method = "ffill"))

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45  '2020/12/21'    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

/var/folders/ys/pnndlh8x6qn4r6zl5h9b3xp00000gn/T/ipykernel_58392/2617468605.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method = "ffill"))

In [172]:
print(df.fillna(method = "bfill"))

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     323.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45  '2020/12/23'    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132     280.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

/var/folders/ys/pnndlh8x6qn4r6zl5h9b3xp00000gn/T/ipykernel_58392/1897337824.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method = "bfill"))

In [189]:

# columns transformation in pandas part 1 

df = pd.read_csv("/Users/twinsbrothers/desktop/pokimon.csv")

print(df)

              Name             Type              Species  Height  Weight  \
0        Bulbasaur     Grass Poison         Seed Pokémon     0.7     6.9
1          Ivysaur     Grass Poison         Seed Pokémon     1.0    13.0
2         Venusaur     Grass Poison         Seed Pokémon     2.4   155.5
3       Charmander             Fire       Lizard Pokémon     0.6     8.5
4       Charmeleon             Fire        Flame Pokémon     1.1    19.0
...            ...              ...                  ...     ...     ...
1009   Raging Bolt  Electric Dragon      Paradox Pokémon     5.2   480.0
1010  Iron Boulder     Rock Psychic      Paradox Pokémon     1.5   162.5
1011    Iron Crown    Steel Psychic      Paradox Pokémon     1.6   156.0
1012     Terapagos           Normal         Tera Pokémon     1.7    77.0
1013     Pecharunt     Poison Ghost  Subjugation Pokémon     0.3     0.3

                                    Abilities  Catch rate  Base Friendship  \
0     1. OvergrowChlorophyll (hidden ability)          45               50
1     1. OvergrowChlorophyll (hidden ability)          45               50
2                                   Thick Fat          45               50
3        1. BlazeSolar Power (hidden ability)          45               50
4        1. BlazeSolar Power (hidden ability)          45               50
...                                       ...         ...              ...
1009                        1. Protosynthesis          10                0
1010                           1. Quark Drive          10                0
1011                           1. Quark Drive          10                0
1012                            Teraform Zero         255                0
1013                      1. Poison Puppeteer           3                0

      Base Exp.  Growth Rate                    Gender   HP  Attack  Defense  \
0            64  Medium Slow  87.5% male, 12.5% female   45      49       49
1           142  Medium Slow  87.5% male, 12.5% female   60      62       63
2           281  Medium Slow  87.5% male, 12.5% female   80     100      123
3            62  Medium Slow  87.5% male, 12.5% female   39      52       43
4           142  Medium Slow  87.5% male, 12.5% female   58      64       58
...         ...          ...                       ...  ...     ...      ...
1009          0         Slow                Genderless  125      73       91
1010          0         Slow                Genderless   90     120       80
1011          0         Slow                Genderless   90      72      100
1012          0         Slow      50% male, 50% female  160     105      110
1013          0         Slow                Genderless   88      88      160

      Sp. Atk  Sp. Def  Speed
0          65       65     45
1          80       80     60
2         122      120     80
3          60       50     65
4          80       65     80
...       ...      ...    ...
1009      137       89     75
1010       68      108    124
1011      122      108     98
1012      130      110     85
1013       88       88     88

[1014 rows x 17 columns]

In [199]:
# (new column transmation method )
# is ma loc() function ha jo specific place ko point krta ha data ko read krny k lia 
df.loc[(df["Height"] < 5.0), "gethight"] = "small height"
df.loc[(df["Height"] >= 5.0, "gethight")] = "taul height"
print(df.)

              Name             Type              Species  Height  Weight  \
0        Bulbasaur     Grass Poison         Seed Pokémon     0.7     6.9
1          Ivysaur     Grass Poison         Seed Pokémon     1.0    13.0
2         Venusaur     Grass Poison         Seed Pokémon     2.4   155.5
3       Charmander             Fire       Lizard Pokémon     0.6     8.5
4       Charmeleon             Fire        Flame Pokémon     1.1    19.0
...            ...              ...                  ...     ...     ...
1009   Raging Bolt  Electric Dragon      Paradox Pokémon     5.2   480.0
1010  Iron Boulder     Rock Psychic      Paradox Pokémon     1.5   162.5
1011    Iron Crown    Steel Psychic      Paradox Pokémon     1.6   156.0
1012     Terapagos           Normal         Tera Pokémon     1.7    77.0
1013     Pecharunt     Poison Ghost  Subjugation Pokémon     0.3     0.3

                                    Abilities  Catch rate  Base Friendship  \
0     1. OvergrowChlorophyll (hidden ability)          45               50
1     1. OvergrowChlorophyll (hidden ability)          45               50
2                                   Thick Fat          45               50
3        1. BlazeSolar Power (hidden ability)          45               50
4        1. BlazeSolar Power (hidden ability)          45               50
...                                       ...         ...              ...
1009                        1. Protosynthesis          10                0
1010                           1. Quark Drive          10                0
1011                           1. Quark Drive          10                0
1012                            Teraform Zero         255                0
1013                      1. Poison Puppeteer           3                0

      Base Exp.  Growth Rate                    Gender   HP  Attack  Defense  \
0            64  Medium Slow  87.5% male, 12.5% female   45      49       49
1           142  Medium Slow  87.5% male, 12.5% female   60      62       63
2           281  Medium Slow  87.5% male, 12.5% female   80     100      123
3            62  Medium Slow  87.5% male, 12.5% female   39      52       43
4           142  Medium Slow  87.5% male, 12.5% female   58      64       58
...         ...          ...                       ...  ...     ...      ...
1009          0         Slow                Genderless  125      73       91
1010          0         Slow                Genderless   90     120       80
1011          0         Slow                Genderless   90      72      100
1012          0         Slow      50% male, 50% female  160     105      110
1013          0         Slow                Genderless   88      88      160

      Sp. Atk  Sp. Def  Speed     gethight
0          65       65     45  small hight
1          80       80     60  small hight
2         122      120     80  small hight
3          60       50     65  small hight
4          80       65     80  small hight
...       ...      ...    ...          ...
1009      137       89     75   taul hight
1010       68      108    124  small hight
1011      122      108     98  small hight
1012      130      110     85  small hight
1013       88       88     88  small hight

[1014 rows x 18 columns]

In [201]:
# # columns transformation in pandas part 2 
df = pd.read_csv("/Users/twinsbrothers/Desktop/company.csv")
print(df)

   Unnamed: 0      Name gender  salary
0           0    ayushi      F   20000
1           1     rohit      M   25000
2           2  pranjali      F   27000

In [203]:
df = pd.read_csv("/Users/twinsbrothers/Desktop/company.csv")
df["bonus"]= (df["salary"]/100)*20
print(df)

   Unnamed: 0      Name gender  salary   bonus
0           0    ayushi      F   20000  4000.0
1           1     rohit      M   25000  5000.0
2           2  pranjali      F   27000  5400.0

In [231]:
data = {"months":["january","februray","march","april"]}
data = pd.DataFrame(data)
print(data)

     months
0   january
1  februray
2     march
3     april

In [237]:
def extract(value):
    return value[0:3]

data["short_month"] = data["months"].map(extract)
print(data)

     months short_month
0   january         jan
1  februray         feb
2     march         mar
3     april         apr

In [3]:

# data ko samarize krna ( Group by in pandas)

df = pd.read_csv("/Users/twinsbrothers/Desktop/police.csv")
print(df)

        stop_date stop_time  county_name driver_gender  driver_age_raw  \
0      2005-01-02     01:55          NaN             M          1985.0
1      2005-01-18     08:15          NaN             M          1965.0
2      2005-01-23     23:15          NaN             M          1972.0
3      2005-02-20     17:15          NaN             M          1986.0
4      2005-03-14     10:00          NaN             F          1984.0
...           ...       ...          ...           ...             ...
91736  2015-12-31     20:27          NaN             M          1986.0
91737  2015-12-31     20:35          NaN             F          1982.0
91738  2015-12-31     20:45          NaN             M          1992.0
91739  2015-12-31     21:42          NaN             M          1993.0
91740  2015-12-31     22:46          NaN             M          1959.0

       driver_age driver_race                   violation_raw  \
0            20.0       White                        Speeding
1            40.0       White                        Speeding
2            33.0       White                        Speeding
3            19.0       White                Call for Service
4            21.0       White                        Speeding
...           ...         ...                             ...
91736        29.0       White                        Speeding
91737        33.0       White  Equipment/Inspection Violation
91738        23.0       White         Other Traffic Violation
91739        22.0       White                        Speeding
91740        56.0    Hispanic                        Speeding

              violation  search_conducted search_type   stop_outcome  \
0              Speeding             False         NaN       Citation
1              Speeding             False         NaN       Citation
2              Speeding             False         NaN       Citation
3                 Other             False         NaN  Arrest Driver
4              Speeding             False         NaN       Citation
...                 ...               ...         ...            ...
91736          Speeding             False         NaN        Warning
91737         Equipment             False         NaN        Warning
91738  Moving violation             False         NaN        Warning
91739          Speeding             False         NaN       Citation
91740          Speeding             False         NaN       Citation

      is_arrested stop_duration  drugs_related_stop
0           False      0-15 Min               False
1           False      0-15 Min               False
2           False      0-15 Min               False
3            True     16-30 Min               False
4           False      0-15 Min               False
...           ...           ...                 ...
91736       False      0-15 Min               False
91737       False      0-15 Min               False
91738       False      0-15 Min               False
91739       False      0-15 Min               False
91740       False      0-15 Min               False

[91741 rows x 15 columns]

In [12]:
"""
import pandas as pd

# Example DataFrame
data = {'University': ['A', 'A', 'B', 'B'],
        'Private': ['Yes', 'No', 'Yes', 'No'],
        'Apps': [1000, 500, 800, 600],
        'Accept': [200, 150, 250, 200]}
df = pd.DataFrame(data)

# Group by 'Private' and aggregate
summary = df.groupby('Private').agg(['max', 'mean', 'min'])
print(summary)
"""

"\nimport pandas as pd\n\n# Example DataFrame\ndata = {'University': ['A', 'A', 'B', 'B'],\n        'Private': ['Yes', 'No', 'Yes', 'No'],\n        'Apps': [1000, 500, 800, 600],\n        'Accept': [200, 150, 250, 200]}\ndf = pd.DataFrame(data)\n\n# Group by 'Private' and aggregate\nsummary = df.groupby('Private').agg(['max', 'mean', 'min'])\nprint(summary)\n"

In [35]:
gp = df.groupby("driver_gender")

In [43]:
# more function are use ( max , min , mean etc)
gp = df.groupby("driver_gender").agg({"driver_gender":"count"})
print(gp)

               driver_gender
driver_gender
F                      23511
M                      62895

In [84]:


# (merge ,join , concatinate in pandas )
# merge
# The merge() function is used to combine DataFrames based on a common column 
#join
#Types of Joins: You can perform inner, left, right, and outer joins.
#Inner Join: Retains only the rows where the join condition is met.
#Left Join: Retains all rows from the left DataFrame and matching rows from the right DataFrame.
#Right Join: Retains all rows from the right DataFrame and matching rows from the left DataFrame.
#Outer Join: Retains all rows from both DataFrames, filling in missing values with NaN.

# on -> jo uniqe column ho ga us k sath krna ha compare 
# how -> join krny k lia how key word ay ga


# Sample DataFrames
left = pd.DataFrame({'key': ['K0', 'K1', 'K2'], 'A': ['A0', 'A1', 'A2']})
right = pd.DataFrame({'key': ['K0', 'K1', 'K3'], 'B': ['B0', 'B1', 'B3']})

In [86]:
# Inner Join
inner_merged = pd.merge(left, right, on='key', how='inner')
print(inner_merged)

  key   A   B
0  K0  A0  B0
1  K1  A1  B1

In [88]:
# Left Join
left_merged = pd.merge(left, right, on='key', how='left')
print(left_merged)

  key   A    B
0  K0  A0   B0
1  K1  A1   B1
2  K2  A2  NaN

In [91]:
# right Join
left_merged = pd.merge(left, right, on='key', how='right')
print(left_merged)

  key    A   B
0  K0   A0  B0
1  K1   A1  B1
2  K3  NaN  B3

In [58]:
# Sample DataFrames

#Outer Join: Retains all rows from both DataFrames, filling in missing values with NaN.

left = pd.DataFrame({'key': ['K0', 'K1', 'K2'], 'A': ['A0', 'A1', 'A2']})
right = pd.DataFrame({'key': ['K0', 'K1', 'K3'], 'B': ['B0', 'B1', 'B3']})

outer_merged = pd.merge(left, right, on='key', how='outer')
print(outer_merged)

  key    A    B
0  K0   A0   B0
1  K1   A1   B1
2  K2   A2  NaN
3  K3  NaN   B3

In [62]:

# jb data same na ho 

left = pd.DataFrame({'key': ['K0', 'K7', 'K2'], 'A': ['A0', 'A1', 'A2']})
right = pd.DataFrame({'key': ['K0', 'K14', 'K13'], 'B': ['B10', 'B1', 'B3']})
inner_merged = pd.merge(left, right, on='key', how='inner')
print(inner_merged)

  key   A    B
0  K0  A0  B10

In [93]:

#Concatenating Vertically (Default)

"""
Parameters of pandas.concat()

objs: A sequence or mapping of Series or DataFrame objects to be concatenated.

axis: The axis along which the concatenation will occur. Default is 0 (rows), but you can set it to 1 for columns.

join: Specifies how to handle overlapping labels along the specified axis. Options include 'outer' (default), 'inner', 'left', and 'right'.

ignore_index: If True, it resets the resulting object's index. Default is False.

keys: Optional sequence to add an identifier to the result indexes.

levels: Specific levels to use for constructing a MultiIndex.

names: Names for the levels in the resulting hierarchical index.

verify_integrity: If True, it checks whether the new concatenated axis contains duplicates and raises a ValueError if it does. Default is False.

sort: If True, it sorts the resulting DataFrame or Series by the keys. Default is False.

copy: If False, it avoids copying data unnecessarily. Default is None

"""
# Create two DataFrames
df1 = pd.DataFrame({'letter': ['a', 'b'], 'number': [1, 2]})
df2 = pd.DataFrame({'letter': ['c', 'd'], 'number': [3, 4]})

# Concatenate vertically
result = pd.concat([df1, df2])
print(result)

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [101]:

# Create two DataFrames
df1 = pd.DataFrame({'letter': ['a', 'b'], 'number': [1, 2]})
df2 = pd.DataFrame({'animal': ['bird', 'monkey'], 'name': ['polly', 'george']})

# Concatenate horizontally
result = pd.concat([df1, df2])
print(result)

  letter  number  animal    name
0      a     1.0     NaN     NaN
1      b     2.0     NaN     NaN
0    NaN     NaN    bird   polly
1    NaN     NaN  monkey  george

In [103]:
# Create two DataFrames
df1 = pd.DataFrame({'letter': ['a', 'b'], 'number': [1, 2]})
df2 = pd.DataFrame({'animal': ['bird', 'monkey'], 'name': ['polly', 'george']})

# Concatenate horizontally
result = pd.concat([df1, df2],axis = 1)
print(result)

  letter  number  animal    name
0      a       1    bird   polly
1      b       2  monkey  george

In [97]:

# Create two DataFrames
df1 = pd.DataFrame({'letter': ['a', 'b'], 'number': [1, 2]})
df3 = pd.DataFrame({'letter': ['c', 'd'], 'number': [3, 4], 'animal': ['cat', 'dog']})

# Concatenate with 'outer' join (default)
result_outer = pd.concat([df1, df3], sort=False)
print(result_outer)

# Concatenate with 'inner' join
result_inner = pd.concat([df1, df3], join="inner")
print(result_inner)

  letter  number animal
0      a       1    NaN
1      b       2    NaN
0      c       3    cat
1      d       4    dog
  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [99]:

# Create two DataFrames
df1 = pd.DataFrame({'letter': ['a', 'b'], 'number': [1, 2]})
df2 = pd.DataFrame({'letter': ['c', 'd'], 'number': [3, 4]})

# Concatenate and reset index
result = pd.concat([df1, df2], ignore_index=True)
print(result)

  letter  number
0      a       1
1      b       2
2      c       3
3      d       4

In [ ]:

# pandas compare data frame